<h1>Listing</h1>
<table>
<ul>
<% @files = Dir.glob("public/files/*") %>
<% for file in @files %>
<% new_file = file.to_s %>
<% new_file = new_file.chomp("public/") %>
<li><%= link_to new_file.to_s, new_file %></li>
<% end %>
</ul>
</table>