<h1>Listing</h1>
<table>
<ul>
<% for file in @files %>
<% new_file = file.to_s.sub('public/files/', "") %>
<% if File.directory?(file) %>
  <li><%= link_to "dir: #{new_file}", params.merge({:dir => new_file}) %></li>
<% else %>
  <li><%= link_to new_file.to_s, "files/#{new_file}" %></li>
<% end %>
<% end %>
</ul>
</table>